// Specific CSS for your home-page
body {
  background-color: #0e1c27;
  overflow-x: hidden;
}

footer {
  color: antiquewhite;
}

.feature-block {
  display: flex;
  /* margin-bottom: 48px; */
  margin-left: 50px;
  margin-right: 50px;
}

.imgfeature {
  margin-right: 20px;
}

.feature-text {
  flex-grow: 1;
}

.bottomtext {
  display: flex;
  color: white;
  font-size: 45px;
  font-family: Inter;
  line-height: 60px;
  justify-content: center;
  letter-spacing: -1px;
  position: relative;
  width: 720px;
}

.fusee {
  margin-top: 22px;

  width: 82px;
  height: 80px;
}

.explorer {
  gap: 50px;
  display: flex;
}

.link {
  color: white;
  text-decoration: none;
}

.centerlink {
  position: relative;
  right: 644px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;

  font-weight: 600;
}

.persocontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.persobtn {
  text-decoration: none;
  padding: 9px;
  font-size: 15px;
  width: 3px;
  color: whitesmoke;
  background-color: black;
}
.custom-container {
  background-color: white;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
