/* Styles pour l'iPhone 13 Pro Max */
@media (max-width: 428px) {
  /* Navbar */
  .navbar {
    position: relative;
  }
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Footer */
  footer .container {
    width: 100%;
    padding: 0 20px;
  }
  footer .logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Hero Text */
  .herotext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; /* Taille de texte réduite */
  }

  /* Flatpicker */
  #start-date-input,
  #end-date-input {
    width: 90%;
  }
}
