// Pour .search
@media only screen and (max-width: 600px) {
  .search {
    width: 100%;
    // Ajoutez d'autres styles ici
  }
}

// Pour .voiture
@media only screen and (max-width: 600px) {
  .voiture {
    flex-direction: column;
    gap: 20px;
    // Ajoutez d'autres styles ici
  }
}

// Pour .lasearch
@media only screen and (max-width: 600px) {
  .lasearch {
    flex-direction: column;
    // Ajoutez d'autres styles ici
  }
}

// Pour .monbutton
@media only screen and (max-width: 600px) {
  .monbutton {
    left: 0;
    top: 0;
    // Ajoutez d'autres styles ici
  }
}

// Pour .now
@media only screen and (max-width: 600px) {
  .now {
    font-size: 30px;
    right: 0;
    bottom: 0;
    // Ajoutez d'autres styles ici
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    // Ajoutez d'autres styles ici
  }
}
