<footer class="text-center" >
  <!-- Grid container -->
  <div class="container" style="display:flex; align-content:center; justify-content:center;">

    <section class="">
      <h2 class="title">Rental</h2>
      <p class="text">Rental is a car rental platform that offers a wide range of vehicles for every need. Whether you're looking for a compact car for city cruising or an SUV for family outings, we have quality options available for you. Our user-friendly interface makes it easy to explore, select, and drive with ease. Experience competitive pricing and full transparency with us, ensuring no surprises or hidden fees. Book confidently and get the best value for your rental with Rental.</p>
    </section>

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 " style="align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    color: white ;">
    © 2024 Copyright:
    <a class="link" href="https://github.com/Bnoure">By Nour-Eddine Benkerroum </a>
  </div>
  <div class="logo">
  <%= link_to '#herotext' do %>
    <%= image_tag("Rental.png", class: "logo") %>
  <% end %>
</div>
  <!-- Copyright -->
</footer>
