<footer class="text-center">
  <!-- Grid container -->
  <div class="container p-4" style="display:flex; align-content:center; justify-content:center;">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
            <%= image_tag(url_for(@cars[0].photo), style: "width: 130px") if @cars[0] && @cars[0].photo.attached? %>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
            <%= image_tag(url_for(@cars[1].photo), style: "width: 130px") if @cars[1] && @cars[1].photo.attached? %>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div class="bg-image shadow-1-strong rounded">
           <%= image_tag(url_for(@cars[2].photo), style: "width: 130px") if @cars[2] && @cars[2].photo.attached? %>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="right: 120px; position: relative; bottom: 18px;">
    © 2024 Copyright:
    <a class="text-body" href="https://github.com/Bnoure">By Nour-Eddine Benkerroum </a>
  </div>
  <!-- Copyright -->
</footer>
